.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 240px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 20px 24px rgba(52, 53, 99, 0.2), 0 1px 3px rgba(0, 0, 0, 0.05);
}
